<div class="jumbotron">
  <h1>Welcome to Heartstring Artwork</h1>
  <p>My passion in life is creating artwork that can impact the lives of individuals especially children.</p>
</div>

<p><%= link_to "Register", "#", class: "btn btn-primary btn-lg" %></p>



